<form [formGroup]="formGroup" (submit)="handleSubmit($event)">
    <div class = "container">
        <div class = "mx-1">
            <div class = "mx-1">
                <h4 class = "d-inline-block">Create a new team</h4>
                <fa-icon class = "mx-2" style="font-size: 25px;" [icon]="teamIcon"></fa-icon>
                <p>Please specificy a name for the team<p>
            </div>
        </div>
        <div>
            <div *ngIf="!isCreating">
                <div>
                    <span class = "d-block mx-2">Name</span>
                    <mat-form-field class = "form-field" *ngIf="name != undefined">
                        <mat-label class = "input-label">Name</mat-label>
                        <input matInput placeholder="Name" formControlName="name">
                        <mat-hint>Write a Name...</mat-hint>
                        <mat-error *ngIf="name.hasError('required') && (name.touched || name.dirty)">Name is required</mat-error>
                        <mat-error *ngIf="name.hasError('minlength') && (name.touched || name.dirty)">Name is too short, must be longer than 3 characters</mat-error>
                        <mat-error *ngIf="name.hasError('maxlength') && (name.touched || name.dirty)">Name is too long, must be shorter than 20 characters</mat-error>
                    </mat-form-field>
                </div>
                <div class = "mt-1 py-2 text-end mx-1">
                    <button type="submit" class = "confirm-button" [disabled]="!formGroup.valid">Confirm</button>
                    <button (click)="reset()" class = "stop-button">Clear</button>
                </div>
            </div>
            <div *ngIf="isCreating" style="display: flex;flex-direction: column;align-items: center;padding: 10px 0px">
                <mat-progress-spinner [diameter]="60" [strokeWidth]="5" [mode]="'indeterminate'"></mat-progress-spinner>
                <p>Creating team, please wait...</p>
            </div>
        </div>
    </div>
</form>
