<div class = "py-2" style="background-color: var(--secondary-color);">
    <app-loader [requiredTemplate]="loaderTemplate" [isSearching]="isSearching" [diameter]="60" [strokeWidth]="7" [fontSize]="15"></app-loader>
    <div class = "text-center d-flex px-4 py-2">
        <button (click)="confirmMembers()" [disabled]="currentSelectedValues.length == 0" class = "confirm-member">Confirm</button>
        <button (click)="cancel()" class = "confirm-member mx-1">Cancel</button>
    </div>
</div>
<ng-template #loaderTemplate>
    <div *ngIf="currentValues.length > 0 && !isSearching">
        <div class = "position-relative add-member-wrapper" *ngFor="let current of currentValues">
            <div class = "d-flex w-100 justify-content-between">
                <div class = "d-inline-block">
                    <ng-container *ngTemplateOutlet="requiredTemplate;context: {$implicit: current}"></ng-container>
                </div>
                <div class = "text-end">
                    <button (click)="updateCurrentValues(current)" [ngClass]="currentSelectedValues.indexOf(current) != -1 ? 'member-selected' : 'member-unselected'" class = "member-unselected">{{currentSelectedValues.indexOf(current) != -1 ? selectedText : unselectedText}}</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="currentValues.length == 0 && !isSearching">
        <app-no-items (buttonClicked)="searchValues()"></app-no-items>
    </div>
</ng-template>