button.card-wrapper
{
    border: 0;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    transition: 0.2s ease-in-out all;
    color: whitesmoke;
    width: 100%;
}
button.card-wrapper:hover
{
    background-color: var(--tertiary-color);
}
div.user-card-header
{
    text-align: center;
    padding: 20px 10px;
}
div.user-card-body
{
    text-align: start;
    padding: 5px 10px;
}