<button class = "card-wrapper" *ngIf="user != undefined">
    <div class = "user-card-header">
        <app-better-image [requiredSource]="'http://localhost:8080/api/v1/public/userImages/user' + user.id + '/image'" [imageStyle]="{'border-radius': '60%','border': '1px solid var(--tertiary-color)','filter': 'brightness(70%)','width': '150px','height': '150px'}"></app-better-image>
    </div>
    <div class = "user-card-body">
        <h4 class = "p-0 m-0">{{user.username}}</h4>
        <div>
            <span class = "p-0 m-0">{{user.name}}</span>
            <span class = "p-0 mx-1">{{user.surname}}</span>
        </div>
        <div>
            <span class = "p-0 m-0 d-block">{{user.gender}}</span>
            <span class = "p-0 m-0 d-block">{{user.createdDate}}</span>
        </div>
    </div>
</button>