div.task-overlay-wrapper {
    position: relative;
}
div.task-overlay-header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    border: 1px solid var(--primary-color);
}
div.task-overlay-content {
    padding: 10px;
}
div.task-overlay-footer {
    padding: 10px;
}
button.default-button
{
    padding: 10px 40px;
    border: 0;
    border-radius: 2px;
    font-size: 15px;
    background-color: var(--primary-color);
    transition: 0.2s ease-in-out all;
}
.member-button::after {
    display:none;
}
.option-button::after {
    display: none;
}
button.default-button:hover {
    background-color: var(--tertiary-color);
}
div.content-wrapper
{
    background-color: var(--secondary-color);
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}
p.overlay-section-title
{
    padding: 0;
    margin: 0;
    font-size: 17px;
}
button.add-member-button
{
    width: 40px;
    height: 40px;
    border: 0;
    margin: 0;
    background-color: var(--primary-color);
    transition: 0.2s ease-in-out all;
    border-radius: 60%;
}
button.add-member-button:hover
{
    background-color: var(--tertiary-color);
}
img.user-image
{
    width: 35px;
    height: 35px;
    border-radius: 60%;
    border: 1px solid var(--tertiary-color);
    filter: brightness(70%);
}
.description-text-area
{
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: inherit;
    border: 0;
    background-color: var(--secondary-color);
}
.description-text-area-selected
{
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: var(--primary-color);
    border: 1px solid var(--tertiary-color);
    border-radius: 2px;
}
button.option-button
{
    width: 100%;
    border: 0;
    padding: 10px 20px;
    border-radius: 2px;
    text-align: start;
    font-size: 15px;
    background-color: var(--primary-color);
    transition: 0.2s ease-in-out all;
}
button.option-button:hover
{
    background-color: var(--tertiary-color);
}
ul.option-holder
{
    list-style-type: none;
    margin-top: 5px;
}
button.member-button
{
    border: 0;
    background-color: var(--secondary-color);
}
button.user-holder-wrapper {
    background-color: var(--secondary-color);
    padding: 0;
    border: 0;
}
button.member-option
{
    border: 0;
    background-color: var(--primary-color);
    transition: 0.2s ease-in all;
    padding: 10px;
    font-size: 15px;
    color: whitesmoke;
}
button.member-option:hover
{
    padding-left: 20px;
    background-color: var(--tertiary-color);
}
button.remove-button {
    background-color: var(--secondary-color);
    border: 0;
    padding: 0px 5px;
    transition: 0.2s ease-in-out all;
    color: whitesmoke;
}
button.remove-button:hover {
    background-color: var(--tertiary-color);
}
img.assigned-image
{
    border-radius: 60%;
    width: 40px;
    height: 40px;
    filter: brightness(70%);
    border: 1px solid var(--tertiary-color);
}
button.add-option-button
{
    width: 100%;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--primary-color);
    color: whitesmoke;
    transition: 0.2s ease-in-out all;
}
div.vertical-container
{
    text-align: center;
    padding: 10px;
    white-space: nowrap;
    overflow-y: auto;
    max-height: 600px;
}
button.add-option-button:hover {
    background-color: var(--tertiary-color);

}
button.remove-image-button
{
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 10px;
    
    background-color: var(--primary-color);
}
img.task-image-small
{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
img.task-image
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
button.task-options-dropdown-toggle
{
    padding: 5px 20px;
    background-color: var(--secondary-color);
}
div.task-image-wrapper
{
    display: block;
    width: 150px;
    height: 150px;
}
input.modify-task-input {
    display: block;
    background-color: var(--secondary-color);
    border-radius: 5px;
    cursor: text;
    transition: 0.2s ease-in-out all;
}
input.modify-task-input:focus {
    padding: 10px 0px;
}