<div class = "task-overlay-wrapper" *ngIf="task != undefined">
    <div class = "content-wrapper">
        <div class = "task-overlay-header">
            <div class = "d-flex">
                <fa-icon style="font-size: 35px;" [icon]="taskIcon"></fa-icon>
                <div class = "p-1 mx-2">
                    <p class = "p-0 m-0">{{task.name}}</p>
                    <p class = "p-0 m-0">{{task.title}}</p>
                </div>
            </div>
            <div class = "d-inline-block mx-1">
                <p class = "p-0 mx-1 my-0" style="font-size: 15px;">Members</p>
                <div class = "d-inline-block mx-1" *ngFor="let current of currentMembers">
                    <ng-container *ngTemplateOutlet="memberTemplate;context: {member: current}"></ng-container>
                </div>
                <div class = "d-inline-block mx-1">
                    <button (click)="addMember()" class = "add-member-button">+</button>
                </div>
            </div>
            <div class = "d-inline-block mx-1">
                <p class = "p-0 m-0" style="font-size: 15px;">Tags</p>
                <div class = "d-inline-block mx-1" *ngFor="let current of currentTagAssignments">
                    <ng-container *ngTemplateOutlet="tagTemplate;context: {item: current}"></ng-container>
                </div>
                <div class = "d-inline-block">
                    <button (click)="addTag()" class = "add-member-button">+</button>
                </div>
            </div>
        </div>
        <div class = "task-overlay-content">
            <div class = "row">
                <div class = "col-12 col-md-9">
                    <div class = "py-1">
                        <div class = "d-flex">
                            <fa-icon [icon]="descriptionIcon" style="font-size: 25px;"></fa-icon>
                            <div class = "mx-3">
                                <p class = "overlay-section-title">Description</p>
                                <div class = "mt-1" style="width: 600px;height: 100px;">
                                    <textarea tabindex="-1" [value]="currentDescription" (input)="updateCurrentDescription($event)" [ngClass]="isChangingDescription ? 'description-text-area-selected' : 'description-text-area'" [readonly]="!isChangingDescription" [defaultValue]="task.description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class = "text-end" style="margin-top: 2px;">
                            <div class = "mt-1" style="display: flex;flex-direction: row-reverse;">
                                <button *ngIf="!isChangingDescription" (click)="isChangingDescription = true" class = "default-button mx-1">Modify</button>
                                <button (click)="resetDescription()"  *ngIf="isChangingDescription" class = "default-button mx-1">Cancel</button>
                                <button (click)="updateDescription()" *ngIf="isChangingDescription" class = "default-button mx-1">Confirm</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class = "d-flex">
                            <fa-icon [icon]="commentIcon" style="font-size: 25px;"></fa-icon>
                            <div class = "mx-3">
                                <p class = "overlay-section-title">Activity</p>
                                <p class = "mt-1" style="font-size: 15px;">You can interact by commenting</p>
                            </div>
                        </div>
                        <div class = "text-end" style="margin-top: 2px;">
                            <button class = "default-button">Comment</button>
                        </div>
                    </div>
                </div>
                <div class = "col-12 col-md-3">
                    <ul class = "option-holder">
                        <p class = "p-0 m-0" style="font-size: 15px;">Add elements</p>
                        <p class = "p-0 m-0" style="font-size: 15px;">Modify the task by adding one of the following elements</p>
                        <div class = "mt-1" ngbDropdown>
                            <button ngbDropdownToggle class = "option-button">
                                <fa-icon [icon]="userIcon"></fa-icon>
                                <span class = "mx-1">Members</span>
                            </button>
                            <div class = "secondary-color w-100 p-2" ngbDropdownMenu>
                                <button class = "user-holder-wrapper" ngbDropdownItem *ngFor="let current of currentMembers">
                                    <div class = "d-flex justify-content-between">
                                        <app-user-holder [showNameInfo]="false" [imageWidth]="35" [imageHeight]="35" [userRef]="current.user"></app-user-holder>
                                        <button class = "remove-button" (click)="removeMember(current)">
                                            <fa-icon [icon]="removeIcon"></fa-icon>
                                        </button>
                                    </div>
                                </button>
                                <button class = "add-option-button" (click)="addMember()">
                                    Add a member
                                </button>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #buttonOption let-item="item">
    <button class = "option-button">
        <fa-icon [icon]="item.icon"></fa-icon>
        <span class = "mx-2 d-inline-block" style="font-size: 14px;">{{item.name}}</span> 
    </button>
</ng-template>
<ng-template #tagOption>
    <div style="background-color: green;border-radius: 10px;padding: 2px 15px;">
        <span style="font-size: 14px;">Tag</span>
    </div>
</ng-template>
<ng-template #memberTemplate let-member="member">
    <div ngbDropdown container="body">
        <button class = "member-button" ngbDropdownToggle>
            <img class = "assigned-image" [src]="'http://localhost:8080/api/v1/userImages/public/user/' + member.user.id + '/image'">
        </button>
        <div class = "primary-color" ngbDropdownMenu>
            <button (click)="removeMember(member)" class = "member-option" ngbDropdownItem>Remove</button>
        </div>
    </div>
</ng-template>
<ng-template #addMemberTemplate>
    <div *ngIf="board != undefined">
        <app-multi-selection (cancelEvent)="this.alertHandlerService.close()" [requiredTemplate]="userHolder" (confirmEvent)="confirmMembersChange($event)" (selectionChanged)="handleMembersChange($event)" [requiredObservable]="this.boardMemberService.getBoardMembersByBoard(board.id)"></app-multi-selection>
    </div>
</ng-template>
<ng-template #addTagTemplate>
    <div *ngIf="board != undefined">
        <app-multi-selection [requiredTemplate]="tagHolder" [requiredObservable]="this.tagService.getTagsByBoard(board.id)" (cancelEvent)="this.alertHandlerService.close()" (selectionChanged)="handleTagsChange($event)" (confirmEvent)="confirmTagsChange($event)"></app-multi-selection>
    </div>
</ng-template>
<ng-template #userHolder let-i>
    <app-user-holder [userRef]="i.user"></app-user-holder>
</ng-template>
<ng-template #tagHolder let-i>
    <div>
        <app-task-tag [tag]="i" [padding]="'20px'"></app-task-tag>
    </div>
</ng-template>
<ng-template #tagTemplate let-item="item">
    <app-task-tag [canRemove]="true" [fontSize]="'10px'" [tag] = "item.tag"></app-task-tag>
</ng-template>