<div class = "p-2" *ngIf="user != undefined">
    <div class = "d-flex">
        <img class = "user-image" [ngStyle]="{'width.px': imageWidth,'height.px': imageHeight}" [src]="'http://localhost:8080/api/v1/userImages/public/user/' + user.id + '/image'">
        <div class = "mx-2">
            <span class = "user-username w-100">{{user.username}}</span>
            <div *ngIf="showNameInfo">
                <span class = "user-name">{{user.name}}</span>
                <span class = "user-surname">{{user.surname}}</span>
            </div>
        </div>
    </div>
</div>