<div id = "header-holder">
    <nav class = "d-block">
        <div class = "primary-color w-50 d-inline-block text-start">
            <ul class = "header-list">
                <li class = "header-item">Home</li>
                <li class = "header-item">Boards</li>
                <li class = "header-item">Tasks</li>
                <li class = "header-item">Reports</li>
                <li class = "header-item">Bans</li>
                <li class = "header-item">Help</li>
            </ul>
        </div>
        <div class = "primary-color w-50 d-inline-block text-end">
            <ul class = "header-list">
                <li class = "header-item">User</li>
            </ul>
        </div>
    </nav>
</div>