<div class = "container-fluid">
    <section id = "info-section">
        <div>
            <h3 class = "d-inline-block">Tasks</h3>
            <fa-icon [icon]="taskIcon" class = "mx-2" style="font-size: 20px ;"></fa-icon>
        </div>
        <p>Here you can see all the tasks that have been assigned to you and the ones you created</p>
    </section>
    <div class = "d-none d-md-block">
        <app-task-filter (filterChanged)="handleFilterChange($event)"></app-task-filter>
    </div>
    <div class = "d-block d-md-none text-center py-4">
        <button class = "filter-button" (click)="openCanvas()">Filters</button>
    </div>
    <div class = "mt-1">
        <div class = "container-fluid">
            <div *ngIf="currentTotalElements > 0">
                <div class = "py-2">
                    <h5 class = "p-0 m-0">Use the filters to find the desired tasks</h5>
                    <p class = "p-0 m-0">Try to be the most precise as possible</p>
                </div>
                <app-loader [fontSize]="20" [isSearching]="isSearching" [diameter]="100" [strokeWidth]="8" [requiredTemplate]="taskElements"></app-loader>
            </div>
            <div *ngIf="currentTotalElements == 0 && !isSearching">
                <app-no-items (buttonClicked)="resetSearch()"></app-no-items>
            </div>
        </div>
    </div>
    <div class = "w-100 mt-4 text-center" *ngIf="currentTotalElements > 0 && !isSearching">
        <app-pagination [pageSize]="20" [totalElements]="currentTotalElements"  (pageChanged)="handlePageChange($event)"></app-pagination>
    </div>
</div>
<ng-template #taskFilter>
    <div class = "px-2 w-100">
        <app-task-filter (filterChanged)="handleFilterChange($event)"></app-task-filter>
    </div>
</ng-template>
<ng-template #taskElements>
    <div class = "row py-1">
        <div class = "col-md-3 mt-1" *ngFor="let current of currentItems">
            <app-task-card [task]="current"></app-task-card>
        </div>
    </div>
</ng-template>