<div class = "py-2" style="background-color: var(--secondary-color);">
    <div class = "position-relative add-member-wrapper" *ngFor="let current of currentMembers">
        <div class = "d-flex w-100 justify-content-between">
            <app-user-holder class = "d-inline-block" [userRef]="current.user"></app-user-holder>
            <div class = "text-end">
                <button (click)="updateCurrentSelectedMembers(current)" [ngClass]="currentSelectedMembers.indexOf(current) != -1 ? 'member-selected' : 'member-unselected'" class = "member-unselected">{{currentSelectedMembers.indexOf(current) != -1 ? selectedText : unselectedText}}</button>
            </div>
        </div>
    </div>
    <div class = "text-center">
        <button (click)="confirmMembers()" [disabled]="currentSelectedMembers.length == 0" class = "confirm-member">Confirm</button>
    </div>
</div>