<div class = "details-wrapper" *ngIf="poll != undefined">
    <div>
        <h4>{{poll.title}}</h4>
        <p class = "p-0 m-0">{{poll.description}}</p>
    </div>
    <div class = "mt-1 py-2">
        <div class = "row">
            <div class = "col-12 col-md-6">
                <app-user-holder [userRef]="poll.publisher"></app-user-holder>
            </div>
            <div class = "col-12 col-md-6 text-end">
                <button (click)="updateLike()" class = "default-button mx-1" *ngIf="!isOwner">{{currentLike != undefined ? 'Remove Like' : 'Add Like'}}</button>
                <button class = "default-button mx-1" *ngIf="isOwner" (click)="modifyPoll()">Modify</button>
                <button class = "default-button mx-1" *ngIf="isOwner" (click)="deletePoll()">Delete</button>
                <button (click)="createReport()" class = "default-button mx-1" *ngIf="!isOwner && currentReport == undefined">Report</button>
            </div>
        </div>
    </div>
</div>
<ng-template #createReportTemplate>
    <app-create-report [pollID]="poll?.id" (failedEvent)="this.alertHandlerService.close()" (successEvent)="this.currentReport = $event;this.alertHandlerService.close()"></app-create-report>
</ng-template>
<ng-template #modifyPollTemplate>
    <app-create-poll [update]="true" [pollID]="poll?.id" (successEvent)="this.poll = $event;this.alertHandlerService.close()" (failedEvent)="this.alertHandlerService.close()"></app-create-poll>
</ng-template>