button.card-wrapper
{
    text-align: start;
    border: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-radius: 10px;
    background-color: var(--primary-color);
    width: 265px;
    padding: 5px;
    transition: 0.2s ease-in-out all;
    border: 1px solid var(--tertiary-color);
}
p.poll-title
{
    padding: 0;
    margin: 0;
    font-size: 18px;
}
button.delete-poll-button {
    border: 0;
    padding: 10px;  
    border: 1px solid red;
    background-color: darkred;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 10px;
}
div.poll-card-footer {
    padding: 5px 5px;
}
p.poll-description {
    padding: 0;
    margin: 0px;
    font-size: 15px;
}
div.poll-card-body {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
}
button.card-wrapper:hover {
    background-color: var(--tertiary-color);
}
div.poll-card-header
{
    padding: 5px;
    background-color: var(--secondary-color);
    border-radius: 5px;
}