<button class = "card-wrapper">
    <div class = "poll-card-header">
        <div class = "d-inline-block w-50 text-start">
           <img class = "publisher-image d-inline-block" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMMKCFonjcGI2vneqwLAQDBybvouJCUgsdXbvoEB0GLA&s">
           <p class = "d-inline-block mx-2 publisher-username">Ciao</p>
        </div>
        <div class = "d-inline-block w-50 text-end">
            <fa-icon [icon]="pollIcon"></fa-icon>
        </div>
    </div>
    <div class = "poll-card-body">
        <p class = "poll-title">Poll Title</p>
        <p class = "poll-description">Please enter a valid poll description</p>
    </div>
    <div class = "poll-card-footer">
        <div class = "d-block">
            <button class = "delete-poll-button">Delete</button>
        </div>
        <div class = "d-inline-block">
            <fa-icon [icon]="likeIcon"></fa-icon>
            <span class = "icon-text mx-1">0</span>
        </div>
        <div class = "d-inline-block mx-1">
            <fa-icon [icon]="minVoteIcon"></fa-icon>
            <span class = "icon-text mx-1">0</span>
        </div>
        <div class = "d-inline-block mx-1">
            <fa-icon [icon]="maxVoteIcon"></fa-icon>
            <span class = "icon-text mx-1">0</span>
        </div>
    </div>
</button>