<button class = "card-wrapper" *ngIf="poll != undefined">
    <div class = "poll-card-header">
        <div class = "d-inline-block w-50 text-start">
            <app-user-holder [userRef]="poll.publisher"></app-user-holder>
        </div>
        <div class = "d-inline-block w-50 text-end">
            <fa-icon [icon]="pollIcon"></fa-icon>
        </div>
    </div>
    <div class = "poll-card-body">
        <p class = "poll-title">{{poll.title}}/p>
        <p class = "poll-description">{{poll.description}}</p>
    </div>
    <div class = "poll-card-footer">
        <div class = "d-block">
            <button class = "delete-poll-button">Delete</button>
        </div>
        <div class = "d-inline-block">
            <fa-icon [icon]="likeIcon"></fa-icon>
            <span class = "icon-text mx-1">{{poll.amountOfLikes}}</span>
        </div>
        <div class = "d-inline-block mx-1">
            <fa-icon [icon]="minVoteIcon"></fa-icon>
            <span class = "icon-text mx-1">{{poll.minimumVotes}}</span>
        </div>
        <div class = "d-inline-block mx-1">
            <fa-icon [icon]="maxVoteIcon"></fa-icon>
            <span class = "icon-text mx-1">{{poll.maximumVotes}}</span>
        </div>
    </div>
</button>