div.default-page-container
{
    display: inline-block;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 2px 20px;
}
p.page-text
{
    display: inline-block;
    font-size: 17px;
    text-align: center;
    margin: 0px;
}
button.button-page-arrow
{
    margin: 0px;
    padding: 0px 5px;
    border: 0;
    background-color: var(--primary-color);
    color: whitesmoke;
    transition: 0.2s ease-in-out all;
}
button.button-page-arrow:hover
{
    border-radius: 60%;
    background-color: var(--tertiary-color);
    color: black;
}
button.button-page
{
    margin: 0px;
    padding: 10px 15px;
    border: 0;
    background-color: var(--primary-color);
    color: whitesmoke;
    transition: 0.2s ease-in-out all;
}
button.button-page:hover {
    background-color: var(--tertiary-color);
    color: black;
}