div.manage-board-wrapper
{
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url("https://i.pinimg.com/originals/33/21/f8/3321f81d342b9a23fb8ea910dc83e325.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;
    width: 100%;
}
.draggable-box {
    cursor: move;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .draggable-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
div.content-wrapper 
{
    padding: 20px;
}
p.board-description {
    padding: 0;
    margin: 0;
    font-size: 15px;
}
div.horizontal-container {
    white-space: nowrap;
    padding: 5px 0px;
    width: 100%;
    overflow-x: auto;
    padding-bottom: 20px;
}
button.close-button {
    padding: 10px 20px;
    border: 0;
    border: 1px solid var(--primary-color);
    background-color: var(--tertiary-color);
    border-radius: 10px;
}
button.delete-button {
    padding: 10px 20px;
    border: 0;
    border: 1px solid red;
    background-color: darkred;
    border-radius: 10px;
}