.hint-text
{
    font-size: 14px;
    font-weight: thin;
}
.form-field
{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}
button.confirm-button
{
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: var(--tertiary-color);
    border-radius: 5px;
}
button.confirm-button:disabled {
    opacity: 0.7;
}
button.stop-button 
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 5px;
    border: 0;
    background-color: darkred;
    border: 1px solid red;
    border-radius: 5px;
}
.input-label
{
    color: black;
}