button.card-wrapper {
    text-align: start;
    border: 0;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 10px;
    background-color: var(--primary-color);
    border: 1px solid var(--tertiary-color);
    width: 265px;
    transition: 0.2s ease-in-out all;
}
button.card-wrapper:hover {
    background-color: var(--tertiary-color);
}
div.discussion-card-header {
    background-color: var(--secondary-color);
    padding: 10px 5px;
    border-radius: 5px;
    position: relative;
    height: 50px;
}
div.discussion-card-body {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
}
div.button-holder
{
    margin-bottom: 10px;
}
div.discussion-card-footer {
    padding: 5px 5px;
}
button.add-like-button {
    padding: 0;
    margin: 0;
    width: 40%;
    padding: 10px;
    background-color: var(--tertiary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    border: 0;
}
button.delete-discussion-button {
    padding: 0;
    margin: 0;
    border: 0;
    width: 40%;
    padding: 10px;
    background-color: darkred;
    border: 1px solid red;
    border-radius: 10px;
    margin-left: 5px;
}
img.publisher-image
{
    width: 40px;
    height: 40px;
    border-radius: 60%;
    filter: brightness(70%);
    border: 1px solid var(--tertiary-color);
}
div.publisher-info-holder {
    padding: 0px 5px;
}
p.publisher-username {
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: whitesmoke;
}
span.publisher-name {
    font-size: 10px;
    color: whitesmoke;
}
span.publisher-surname {
    font-size: 10px;
    color: whitesmoke;
    margin-left: 2px;
}
p.discussion-card-title {
    padding: 0;
    margin: 0;
    font-size: 17px;
}
p.discussion-card-topic {
    padding: 0;
    margin: 0;
    font-size: 15px;
}