<button class = "card-wrapper"  *ngIf="discussion != undefined">
    <div class = "discussion-card">
        <div class = "discussion-card-header">
            <div class = "position-absolute mt-1 mx-1" style="top:0;left:0;">
                <div class = "d-inline-block">
                    <img class = "publisher-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMMKCFonjcGI2vneqwLAQDBybvouJCUgsdXbvoEB0GLA&s">
                </div>
                <div class = "d-inline-block mx-1">
                    <p class = "publisher-username">{{discussion.publisher.username}}</p>
                </div>
            </div>
            <div class = "position-absolute" style="top: 0;right: 0">
                <fa-icon [icon]="chatIcon"></fa-icon>
            </div>
        </div>
        <div class = "discussion-card-body">
            <p class = "discussion-card-title">{{discussion.title}}</p>
            <p class = "discussion-card-topic">{{discussion.topic}}</p>
        </div>
        <div class = "discussion-card-footer">
            <div class = "text-center button-holder">
                <button class = "add-like-button">Add Like</button>
                <button class = "delete-discussion-button">Delete</button>
            </div>
            <div class = "d-block">
                <div class = "d-inline-block">
                    <fa-icon [icon]="likeIcon"></fa-icon>
                    <span class = "icon-text mx-1">0</span>
                </div>
                <div class = "d-inline-block mx-2">
                    <fa-icon [icon]="commentIcon"></fa-icon>
                    <span class = "icon-text mx-1">0</span>
                </div>
            </div>
        </div>
    </div>
</button>