<form [formGroup]="formGroup" (submit)="handleSubmit($event)">
    <div class = "container py-4">
        <div class = "mx-1">
            <div class = "mx-1">
                <h4 class = "d-inline-block">Create a new discussion</h4>
                <fa-icon class = "mx-2" style="font-size: 25px;" [icon]="banIcon"></fa-icon>
                <p>Please specificy a title and and topic name</p>
            </div>
            <div class = "px-4">
                <div>
                    <span class = "d-block mx-2">Title</span>
                    <mat-form-field class = "form-field" *ngIf="title != undefined">
                        <mat-label class = "input-label">Title</mat-label>
                        <input matInput placeholder="Title" formControlName="title">
                        <mat-hint>Write a title...</mat-hint>
                        <mat-error *ngIf="title.hasError('required') && (title.touched || title.dirty)">Title is required</mat-error>
                        <mat-error *ngIf="title.hasError('minlength') && (title.touched || title.dirty)">Title is too short, must be longer than 3 characters</mat-error>
                        <mat-error *ngIf="title.hasError('maxlength') && (title.touched || title.dirty)">Title is too long, must be shorter than 10 characters</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <span class = "d-block mx-2">Description</span>
                <mat-form-field class = "form-field" *ngIf="description != undefined">
                    <mat-label class = "input-label">Description</mat-label>
                    <textarea matInput placeholder="Write a valid description" formControlName="description"></textarea>
                    <mat-hint>Write a new description....</mat-hint>
                    <mat-error *ngIf="description.hasError('required') && (description.touched || description.dirty)">Description is required</mat-error>
                    <mat-error *ngIf="description.hasError('minlength') && (description.touched || description.dirty)">Description is too short, must be longer than 20 characters</mat-error>
                    <mat-error *ngIf="description.hasError('maxlength') && (description.touched || description.dirty)">Description is too long, must be shorter than 200 characters</mat-error>
                </mat-form-field> 
            </div>
            <div>
                <span class = "d-block mx-2">Reason</span>
                <mat-form-field class = "form-field" *ngIf="reason != undefined">
                    <mat-label class = "input-label">Reason</mat-label>
                    <mat-select formControlName="reason">
                        <mat-option style="color: black" *ngFor="let current of reasons" [value]="current">{{current}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div> 
        <div class = "mt-2 text-end mx-1">
            <button type="submit" class = "confirm-button" [disabled]="!formGroup.valid">Confirm</button>
            <button (click)="reset()" class = "stop-button">Clear</button>
        </div>
    </div>
</form>