<div class = "container-fluid p-3">
    <section id = "info-section">
        <h3>Polls</h3>
        <p class = "mt-1">Here you can see all of the polls, use the filters to navigate</p>
    </section>
    <div class = "d-none d-md-block">
        <app-poll-filter (filterChanged)="handleFilterChange($event)"></app-poll-filter>
    </div>
    <div class = "d-block d-md-none text-center py-4">
        <button class = "filter-button" (click)="openCanvas()">Filters</button>
    </div>
    <div class = "container-fluid">
        <div *ngIf="currentItems.length > 0">
            <div class = "py-2">
                <div class = "py-2">
                    <h5 class = "p-0 m-0">Use the filters to find the desired polls</h5>
                    <p class = "p-0 m-0">Try to be the most precise as possible</p>
                </div>
                <app-loader [diameter]="100" [strokeWidth]="8" [isSearching]="isSearching" [requiredTemplate]="pollElements"></app-loader>
            </div>
        </div>
        <div *ngIf="currentItems.length == 0 && !isSearching">
            <app-no-items (buttonClicked)="resetSearch()"></app-no-items>
        </div>
    </div>
    <div class = "w-100 text-center mt-4">
        <app-pagination [pageSize]="20" [totalElements]="currentTotalElements" (pageChanged)="handlePageChange($event)"></app-pagination>
    </div>
</div>
<ng-template #pollFilters>
    <div class = "px-2 w-100">
        <app-poll-filter (filterChanged)="handleFilterChange($event)"></app-poll-filter>
    </div>
</ng-template>
<ng-template #pollElements>
    <div class = "row py-1">
        <div class = "col-12 col-md-3 mt-1" *ngFor="let current of currentItems">
            <app-poll-card [poll]="current"></app-poll-card>
        </div>
    </div>
</ng-template>