<div [ngClass]="isVoted ? 'option-voted' : 'option-wrapper'" *ngIf="pollOption != undefined">
    <div class = "row">
        <div class = "col-12 col-md-8">
            <p class = "option-text">{{pollOption.name}}</p>
            <p class = "option-description">{{pollOption.description}}</p>
        </div>
        <div class = "col-12 col-md-4 text-end">
            <div *ngIf="isVoted">
                <p class = "p-0 m-0">Amount of received votes</p>
                <p class = "p-0 m-0">{{pollOption.amountOfVotes}}</p>
            </div>
            <button class = "default-button mx-1" *ngIf="isOwner && !isVoted" (click)="modifyOption()">Modify</button>
            <button class = "default-button mx-1" *ngIf="isOwner && !isVoted" (click)="deleteOption()">Delete</button>
            <button class = "default-button mx-1" (click)="voteOption()" *ngIf="!isVoted">Vote</button>
        </div>
    </div>
</div>
<ng-template #modifyOptionTemplate>
    <app-create-poll-option [update]="true" [optionID]="this.pollOption!!.id" (successEvent)="this.pollOption = $event;this.alertHandlerService.close()" (failedEvent)="this.alertHandlerService.close()"></app-create-poll-option>
</ng-template>