img.user-image
{
    display: inline-block;
    border-radius: 60%;
    filter: brightness(60%);
    border: 1px solid var(--secondary-color);
}
span.user-username
{
    padding: 0;
    margin: 0;
    font-size: 15px;
}
span.user-name
{
    padding: 0;
    margin: 0;
    font-size: 12px;
}
span.user-surname
{
    padding: 0;
    margin: 0;
    font-size: 12px;
    margin-left: 2px;
}