button.card-wrapper
{
    border: 0;
    padding: 5px;
    background-color: var(--primary-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 10px;
    border: 1px solid var(--tertiary-color);
    width: 265px;
    transition: 0.2s ease-in-out all;
    text-align: start;
}
img.user-image {
    width: 40px;
    height: 40px;
    border: 1px solid var(--tertiary-color);
    filter: brightness(70%);
    border-radius: 60%;
}
div.ban-card-header {
    padding: 5px;
    background-color: var(--secondary-color);
    text-align: center;
}
div.ban-card-body {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
div.ban-card-footer {
    padding: 5px 10px;
}
button.card-wrapper:hover {
    background-color: var(--tertiary-color);
}
button.delete-ban-button {
    padding: 10px 30px;
    border: 1px solid red;
    background-color: darkred;
    border-radius: 10px;
}
span.username {
    font-size: 15px;
}