<div class = "container-fluid board-header-wrapper" *ngIf="board != undefined">
    <div class = "w-50 text-start d-inline-block">
        <div class = "d-inline-block">
            <h5>{{board.title}}</h5>
        </div>
        <div class = "d-inline-block mx-1">
            <div container="body" ngbDropdown class="d-inline-block">
                <button class = "option-template" type="button" ngbDropdownToggle>
                    Teams
                </button>
                <div ngbDropdownMenu class = "default-dropdown">
                    <div class = "p-0 m-0" ngbDropdownItem *ngFor="let current of currentTeamOptions;let i = index">
                        <ng-container *ngTemplateOutlet="teamTemplate;context: {index: i,teamOption: current,team: this.currentTeams[i]}"></ng-container> 
                    </div>
                    <button (click)="handleCreateTeam()" class = "create-team-button">
                        <fa-icon [icon]="plusIcon"></fa-icon>
                        <span class = "mx-2">Create a team</span>
                    </button>
                </div>
            </div>
            <button class = "option-template" (click)="createInvite()">
                <p class = "p-0 m-0 d-inline-block">Invite</p>
                <fa-icon class = "d-inline-block mx-1" [icon]="inviteIcon"></fa-icon>
            </button>
        </div>
        <div class = "d-inline-block mx-1 position-relative">
            <div class = "d-inline-block mx-1" *ngFor="let current of currentMembers">
                <ng-container *ngTemplateOutlet="memberTemplate;context: {member: current}"></ng-container>
            </div>
        </div>
    </div>
    <div class = "w-50 text-end d-inline-block">
        <button class = "option-template">
            <fa-icon [icon]="optionIcon" class = "d-inline-block"></fa-icon>
            <p class = "m-0 p-0 d-inline-block mx-1">Show menu</p>
        </button>
    </div>
</div>

<ng-template #teamTemplate let-teamOption="teamOption" let-team="team" let-index="index">
    <div class = "d-flex">
        <button class = "team-option" (click)="handleClickedTeam(team)">
            <fa-icon [icon]="teamOption.icon" class = "d-inline-block"></fa-icon>
            <span class = "mx-2">{{teamOption.name}}</span>
        </button>
        <button class = "delete-team-button" (click)="removeTeam(team,index)">
            <fa-icon [icon]="closeIcon"></fa-icon>
        </button>
    </div>
</ng-template>
<ng-template #createTeamTemplate>
    <div class = "secondary-color">
        <app-create-team (successEvent)="this.handleSuccessTeam($event)" (failedEvent)="this.alertHandlerService.close()" [boardID]="board?.id"></app-create-team>
    </div>
</ng-template>
<ng-template #teamListTemplate>
    <div class = "team-list-wrapper">
        <div *ngIf="currentTeamMembers.length == 0">
            <app-no-items (buttonClicked)="loadTeamMembers()"></app-no-items>
        </div>
        <div *ngIf="currentTeamMembers.length > 0">
            <app-text-overflow [horizontal]="false" [templates]="currentTeamMembersItem"></app-text-overflow>
        </div>
        <div class = "text-center">
            <button (click)="addTeamMember()" class = "add-team-member">Add a member</button>
        </div>
    </div>
</ng-template>
<ng-template #teamMemberItem let-i>
    <div class = "position-relative">
        <div class = "d-flex w-100 justify-content-between">
            <app-user-holder class = "d-inline-block" [user]="i.member"></app-user-holder>
            <div class = "text-end">
                <button class = "remove-button" (click)="removeTeamMember(i.id)">Remove</button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #createInviteTemplate let-userID="userID">
    <div *ngIf="board != undefined" class = "secondary-color">
        <app-create-invite [boardID]="board.id" [user]="currentInvitedUser" (successEvent)="closeCreateInvite()" (failedEvent)="closeCreateInvite()"></app-create-invite>
    </div>
</ng-template>
<ng-template #addUserTemplate>
    <app-add-user (confirmedEvent)="updateInvitedUser($event)" (cancelEvent)="closeCreateInvite()"></app-add-user>
</ng-template>
<ng-template #memberTemplate let-user="user" let-member="member">
    <div ngbDropdown container="body" class = "d-inline-block">
        <button (click)="updateAdmin(member)" class = "image-wrapper" ngbDropdownToggle>
            <img class = "member-image" style="top: 0;left: 0" src="https://i0.wp.com/picjumbo.com/wp-content/uploads/beautiful-nature-mountain-scenery-with-flowers-free-photo.jpg?w=600&quality=80">
        </button>
        <div class = "member-dropdown" ngbDropdownMenu>
            <button (click)="changeRole(member)" ngbDropdownItem class = "member-option">{{currentUserAdmin ? 'Demote to member' : 'Promote to admin'}}</button>
            <button (click)="removeFromBoard(member)" ngbDropdownItem class = "member-option">Remove from board</button>
            <button ngbDropdownItem class = "member-option">Visit profile</button>
        </div>
    </div>
</ng-template>
<ng-template #addMemberTemplate>
    <div *ngIf="board != undefined">
        <app-add-user-multiple [boardID]="board.id" (confirmEvent)="confirmTeamMembers()" (selectedMemberEvent)="addNewMemberToTeam($event)"></app-add-user-multiple>
    </div>
</ng-template>