div.tag-wrapper
{
    background-color: greenyellow;
    border-radius: 5px;
    font-size: 5px;
    padding: 0px 20px;
    text-align: start;
}
span.tag-text
{
    font-size: 10px;
    color: black;
}