<ng-template #defaultHeaderTemplate>
    <div class = "offcanvas-header" style="white-space: wrap;">
        <div>
            <h4 class = "offcanvas-title d-block">{{currentTitle}}</h4>
            <p>{{currentSubtitle}}</p>
        </div>
        <div>
            <button type="button" class = "btn btn-close btn-close-white" (click)="close()"></button>
        </div>
    </div>
</ng-template>
<ng-template #offcanvas>
    <div class = "secondary-color vertical-container">
        <ng-container *ngTemplateOutlet="currentHeaderTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="currentContentTemplate"></ng-container>
    </div>
</ng-template>