<div class = "p-4" *ngIf="user != undefined">
    <div class = "details-holder">
        <div class = "text-center">
            <div>
                <h3 class = "d-inline-block">{{user.username}}</h3>
                <fa-icon class = "d-inline-block mx-2" style="font-size: 20px;"  [icon]="personIcon"></fa-icon>
                <p class = "p-0 m-0">In this page you can see information about {{user.username}}</p>
            </div>
        </div>
        <div class = "row mt-2">
            <div class = "col-12 col-md-3">
                    <div class = "primary-color text-center" style="padding: 20px;border-radius: 2px;">
                        <app-better-image [wrapperStyle]="{'display': 'flex','justify-content': 'center','align-items': 'center'}" [imageStyle]="{'width': '180px','height': '180px','border-radius': '60%','filter': 'brightness(70%)'}" [requiredSource]="'http://localhost:8080/api/v1/userImages/public/user/' + user.id + '/image'"></app-better-image>
                        <div>
                            <h3 class = "p-0 m-0">{{user.username}}</h3>
                            <div>
                                <span>{{user.name}}</span>
                                <span class = "mx-1">{{user.surname}}</span>
                            </div>
                            <p class = "p-0 m-0" style="font-size: 18px;">{{user.gender}}</p>
                        </div>
                        <div class = "mt-1">
                            <div class = "d-inline-block mx-1" *ngFor="let current of descriptionItems">
                                <ng-container *ngTemplateOutlet="descriptionTemplate;context: {item: current}"></ng-container>
                            </div>
                        </div>
                    </div>
                    <div class = "mt-2 py-1 text-center">
                        <button *ngIf="!isAuthenticatedUser && !hasReported && !searchingReport" (click)="createReport()" class = "default-button w-100">Report</button>
                    </div>
                </div>
            <div class = "col-12 col-md-9">
                <div class = "px-2">
                    <div [ngStyle]="current.key != 'boards' ? {'margin-top': '15px'} : {'margin-top': '0px'}" *ngFor="let current of searchRequestsMap | keyvalue">
                        <ng-container *ngTemplateOutlet="searchTemplate;context: {searchRequest: searchRequestsMap.get(current.key),name: current.key}"></ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #descriptionTemplate let-item="item">
    <div style="font-size: 20px;">
        <fa-icon class = "d-inline-block" [icon]="item.icon"></fa-icon>
        <span class = "mx-1">{{item.amount}}</span>
    </div>
</ng-template>
<ng-template #boardCardTemplate let-i>
    <div style="width: 220px;">
        <app-board-card [boardRef]="i.board"></app-board-card>
    </div>
</ng-template>
<ng-template #discussionCardTemplate let-i>
    <div style="width: 220px;">
        <app-discussion-card [discussion]="i"></app-discussion-card>
    </div>
</ng-template>
<ng-template #pollCardTemplate let-i>
    <div style="width: 220px;">
        <app-poll-card [poll]="i"></app-poll-card>
    </div>
</ng-template>
<ng-template #searchTemplate let-searchRequest="searchRequest" let-name="name">
    <div class = "container-wrapper">
        <ng-container *ngTemplateOutlet="containerDescription;context: {containerDescription: this.containerDescriptionsMap.get(name)}"></ng-container>
        <div class = "py-2">
            <app-text-overflow  [horizontal]="true" (scrollEndReached)="updateCurrentPage(name)" [templates]="searchRequest.requiredOverflowItems"></app-text-overflow>
            <div *ngIf="searchRequest.requiredItems.length == 0">
                <app-no-items [missingButtonStyle]="{'background-color': 'var(--secondary-color)','width': '25%','padding': '15px 0px','border-radius': '5px'}" (buttonClicked)="reset(name,true)"></app-no-items>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #containerDescription let-containerDescription="containerDescription">
    <div class = "d-flex">
        <h4>{{containerDescription.name}}</h4>
        <fa-icon class = "mx-1" style="font-size: 20px;" [icon]="containerDescription.icon"></fa-icon>
    </div>
    <p class = "p-0 m-0">{{containerDescription.subtitle}}</p>
</ng-template>
<ng-template #createReportTemplate>
    <app-create-report (successEvent)="this.alertHandlerService.close();this.hasReported = true" (failedEvent)="this.alertHandlerService.close()" [reportedID]="currentUserID"></app-create-report>
</ng-template>