div.details-holder
{
    padding: 5px;
}
img.user-image
{
    width: 240px;
    height: 240px;
    border-radius: 60%;
    border: 1px solid var(--tertiary-color);
    filter: brightness(80%);
}
button.follow-button
{
    display: block;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--tertiary-color);
    border: 1px solid var(--secondary-color);
}
button.delete-button
{
    display: block;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: darkred;
    border: 1px solid red;
    margin-top: 5px;
}
div.horizontal-container
{
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
}