input.check-list-name
{
    background-color: var(--secondary-color);
    border: 1px solid var(--tertiary-color);
    padding:  5px;
    border-radius: 5px;
}
p.check-list-surname
{
    padding: 0;
    margin: 0;
}
button.remove-button {
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 10px;
    transition: 0.2s ease-in-out all;
}
input.option-checkbox
{
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    border-radius: 5px;
}