<div class = "card-wrapper" *ngIf="report != undefined">
    <div class = "report-card-header">
        <fa-icon [icon]="warningIcon" style="font-size: 25px;"></fa-icon>
        <p class = "report-title">Report</p>
    </div>
    <div class = "report-card-body">
        <div class = "row">
            <div  class = "col-6">
                <p class = "text-center p-0 m-0">Reporter</p>
                <app-user-holder [userRef]="report.reporter" [showNameInfo]="true"></app-user-holder>
            </div>
            <div class = "col-6">
                <p class = "text-center p-0 m-0">Reported</p>
                <app-user-holder [userRef]="report.reported" [showNameInfo]="true"></app-user-holder>
            </div>
        </div>
        <div class = "mt-1">
            <p class = "p-0 m-0 d-inline-block">Reason:</p>
            <p class = "p-0 m-0 d-inline-block mx-1">{{report.reason}}</p>
        </div>
        <div class = "mt-1">
            <p class = "p-0 m-0 d-inline-block">Type:</p>
            <p class = "p-0 m-0 d-inline-block mx-1">{{report.type}}</p>
        </div>
    </div>
    <div class = "report-card-footer text-center">
        <button class = "default-button w-75" (click)="createBan()">Ban</button>
        <button class = "default-button w-75 mt-1" (click)="deleteReport()">Delete</button>
    </div>
</div>
<ng-template #createBanTemplate>
    <app-create-ban [bannedID]="report?.reported?.id" (successEvent)="this.banEvent.emit();this.alertHandlerService.close()" (failedEvent)="this.alertHandlerService.close()"></app-create-ban>
</ng-template>