<button class = "card-wrapper" *ngIf="report != undefined">
    <div class = "report-card-header">
        <fa-icon [icon]="warningIcon" style="font-size: 25px;"></fa-icon>
        <p class = "report-title">Report</p>
    </div>
    <div class = "report-card-body">
        <div class = "w-100">
            <p class = "p-0 m-0">Reporter:</p>
            <app-user-holder [userRef]="report.reporter" [showNameInfo]="false"></app-user-holder>
        </div>
        <div class = "w-100 mt-2">
            <p class = "p-0 m-0">Reported:</p>
            <app-user-holder [userRef]="report.reported" [showNameInfo]="false"></app-user-holder>
        </div>
        <div class = "mt-1">
            <p class = "p-0 m-0 d-inline-block">Reason:</p>
            <p class = "p-0 m-0 d-inline-block mx-1">{{report.reason}}</p>
        </div>
        <div class = "mt-1">
            <p class = "p-0 m-0 d-inline-block">Type:</p>
            <p class = "p-0 m-0 d-inline-block mx-1">{{report.type}}</p>
        </div>
    </div>
    <div class = "report-card-footer text-center">
        <div class = "text-start" style="font-size: 15px;">
            <fa-icon class = "d-inline-block" [icon]="calendarIcon"></fa-icon>
            <p class = "p-0 mx-1 d-inline-block">{{report.createdDate}}</p>
        </div>
        <button class = "create-ban-button">Ban</button>
        <button class = "delete-button">Delete</button>
    </div>
</button>