<div class = "card-wrapper" *ngIf="boardInvite != undefined">
    <div class = "task-invite-card-header">
        <div class = "position-relative">
            <app-better-image [imageStyle]="{'width': '100%','height': 'auto','border-top-left-radius': '10px','border-top-right-radius': '10px','filter': 'brightness(70%)'}" [requiredSource]="'http://localhost:8080/api/v1/boardImages/public/board/' + boardInvite.board.id + '/image'" [alternativeImage]="'https://react.semantic-ui.com/images/wireframe/image.png'"></app-better-image>
            <div class = "position-absolute p-2" style="top: 0;left: 0">
                <app-user-holder [userRef]="boardInvite.publisher" [imageWidth]="40" [imageHeight]="40"></app-user-holder>
            </div>
            <div class = "position-absolute p-2" style="top: 0;right: 0;font-size: 20px;">
                <fa-icon [icon]="inviteIcon"></fa-icon>
            </div>
            <div class = "position-absolute" style="top: 50%;left: 50%;transform: translate(-50%,-50%)">
                <div style="font-size: 25px;">
                    <fa-icon class = "d-inline-block" [icon]="membersIcon"></fa-icon>
                    <span class = "icon-text mx-1">0</span>
                </div>
            </div>
            <div class = "position-absolute" style="bottom:0;right:0;">
                <fa-icon class = "d-inline-block" [icon]="calendarIcon"></fa-icon>
                <span class = "icon-text mx-1">{{boardInvite.createdDate}}</span>
            </div>
        </div>
    </div>
    <div class = "task-invite-card-body">
        <p class = "task-invite-board-title">{{boardInvite.board.title}}</p>
        <p class = "task-invite-board-description">{{boardInvite.board.description}}</p>
    </div>
    <div class = "task-invite-card-footer">
        <div class = "text-center">
            <div *ngIf="boardInvite.status == 'ACTIVE'">
                <button class = "default-button" (click)="acceptInvite()">Accept</button>
                <button class = "default-button mx-1" (click)="rejectInvite()">Reject</button>
            </div>
            <div *ngIf="boardInvite.status == 'ACCEPTED'">
                <button class = "default-button" (click)="openBoard()">Go to board</button>
            </div>
            <div *ngIf="boardInvite.status == 'REJECTED'">
                <p class = "p-0 m-0">The invite has been previously rejected</p>
            </div>
        </div>
    </div>
</div>