<button class = "card-wrapper" *ngIf="boardInvite != undefined">
    <div class = "task-invite-card-header">
        <div class = "position-relative">
            <app-better-image [imageStyle]="{'width': '100%','height': 'auto','border-top-left-radius': '10px','border-top-right-radius': '10px','filter': 'brightness(70%)'}" [requiredSource]="'http://localhost:8080/api/v1/boardImages/public/board/' + boardInvite.board.id + '/image'"></app-better-image>
            <div class = "position-absolute p-2" style="top: 0;left: 0">
                <app-user-holder [userRef]="boardInvite.publisher"></app-user-holder>
            </div>
            <div class = "position-absolute p-2" style="top: 0;right: 0;font-size: 20px;">
                <fa-icon [icon]="inviteIcon"></fa-icon>
            </div>
            <div class = "position-absolute" style="top: 50%;left: 50%;transform: translate(-50%,-50%)">
                <div style="font-size: 25px;">
                    <fa-icon class = "d-inline-block" [icon]="membersIcon"></fa-icon>
                    <span class = "icon-text mx-1">0</span>
                </div>
            </div>
            <div class = "position-absolute" style="bottom:0;right:0;">
                <fa-icon class = "d-inline-block" [icon]="calendarIcon"></fa-icon>
                <span class = "icon-text mx-1">{{boardInvite.createdDate}}</span>
            </div>
        </div>
    </div>
    <div class = "task-invite-card-body">
        <p class = "task-invite-board-title">{{boardInvite.board.title}}</p>
        <p class = "task-invite-board-description">{{boardInvite.board.description}}</p>
    </div>
    <div class = "task-invite-card-footer">
        <div class = "text-center">
            <button class = "task-invite-accept-button">Accept</button>
            <button class = "task-invite-reject-button">Reject</button>
        </div>
    </div>
</button>