section#info-section {
    padding: 10px 5px;
}
button.filter-button
{
    width: 75%;
    background-color: var(--secondary-color);
    color: whitesmoke;
    border-radius: 5px;
    border: 0px;
    margin: 0px;
    font-size: 20px;
    padding: 10px 0px;
    border: 1px solid var(--tertiary-color);
}