<div class = "container py-4 text-center position-relative">
    <div class = "position-absolute" style="top: 50%;left: 50%;transform: translate(-50%,50%)">
        <fa-icon [icon]="errorIcon" style="font-size: 100px;padding: 0" ></fa-icon>
        <h2 class = "m-0 p-0">You are not authenticated</h2>
        <p class = "p-0 m-0">You must be authenticated in order to use this application</p>
        <div class = "mt-2">
            <button class = "login-button" (click)="performLogin()">Perform Login</button>
        </div>
    </div>
</div>