button.confirm-button
{
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: var(--tertiary-color);
    border-radius: 5px;
}
button.confirm-button:disabled {
    opacity: 0.7;
}
button.remove-button
{
    border: 0;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--primary-color);
}