<button class = "card-wrapper" *ngIf="board != undefined">
    <div class = "board-card">
        <div class = "board-card-header">
            <div class = "position-relative text-center">
                <div class = "position-absolute" style="top: 50%;left: 50%;transform: translate(-50%, -50%);">
                    <div class = "d-inline-block" [ngbTooltip]="'Member Amount'">
                        <fa-icon [icon]="membersIcon" style="font-size: 20px;color: whitesmoke"></fa-icon>
                        <span class = "mx-1" style="font-size: 20px;color: whitesmoke">{{board.amountOfMembers}}</span>
                    </div>
                    <div class = "d-inline-block mx-1" [ngbTooltip]="'Groups amount'">
                        <fa-icon [icon]="listIcon" style="font-size: 20px;;color: whitesmoke"></fa-icon>
                        <span class = "mx-1" style="font-size: 20px;color: whitesmoke">{{board.amountOfGroups}}</span>
                    </div>
                </div>
                <img class = "board-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Altja_j%C3%B5gi_Lahemaal.jpg/1200px-Altja_j%C3%B5gi_Lahemaal.jpg">
            </div>
        </div>
        <div class = "board-card-body">
            <p class = "board-title">{{board.title}}</p>
            <p class = "board-subtitle">{{board.description}}</p>
            <div class = "text-center mt-1">
                <button class = "board-open-button">Open</button>
                <button class = "board-leave-button">Leave</button>
            </div>
        </div>
        <div class = "board-card-footer">
            <div class = "d-flex">
                <div>
                    <img class = "board-publisher-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Altja_j%C3%B5gi_Lahemaal.jpg/1200px-Altja_j%C3%B5gi_Lahemaal.jpg">
                </div>
                <div class = "px-2">
                    <p class = "board-publisher-username">{{board.publisher.username}}</p>
                    <span class = "board-publisher-name">{{board.publisher.name}}</span>
                    <span class = "board-publisher-surname">{{board.publisher.surname}}</span>
                </div>
            </div>
        </div>
    </div>
</button>