p.board-title
{
    font-size: 17px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    color: inherit;
}
div.board-card-body
{
    padding: 10px;
}
div.board-card-footer {
    padding: 10px;
}
p.board-subtitle
{
    color: inherit;
    font-size: 14px;
    padding: 0;
    margin: 0;
}
button.card-wrapper {
    text-align: start;
    width: 265px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: whitesmoke;
    transition: 0.2s ease-in-out all;
}
button.board-open-button {
    border: 0;
    font-size: 14px;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    color: whitesmoke;
    padding: 10px 10px;
    border-radius: 10px;
    width: 40%;
}
button.board-leave-button {
    border: 0;
    font-size: 14px;
    background-color: darkred;
    border: 1px solid red;
    color: whitesmoke;
    padding: 10px 10px;
    border-radius: 10px;
    width: 40%;
    margin-left: 5px;
}
button.card-wrapper:hover{
    background-color: var(--tertiary-color);
    color: black;
}