<button class = "card-wrapper" *ngIf="board != undefined">
    <div class = "board-card">
        <div class = "board-card-header">
            <div class = "position-relative text-center">
                <div class = "position-absolute" style="top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 1000">
                    <div class = "d-inline-block" [ngbTooltip]="'Member Amount'">
                        <fa-icon [icon]="membersIcon" style="font-size: 20px;color: whitesmoke"></fa-icon>
                        <span class = "mx-1" style="font-size: 20px;color: whitesmoke">{{board.amountOfMembers}}</span>
                    </div>
                    <div class = "d-inline-block mx-1" [ngbTooltip]="'Groups amount'">
                        <fa-icon [icon]="listIcon" style="font-size: 20px;;color: whitesmoke"></fa-icon>
                        <span class = "mx-1" style="font-size: 20px;color: whitesmoke">{{board.amountOfGroups}}</span>
                    </div>
                </div>
                <app-better-image [imageStyle]="{'width': '100%','height': 'auto','border-top-left-radius': '20px','border-top-right-radius': '20px','filter': 'brightness(70%)'}" [requiredSource]="'http://localhost:8080/api/v1/boardImages/public/image/' + board.id" [alternativeImage]="'https://react.semantic-ui.com/images/wireframe/image.png'"></app-better-image>
            </div>
        </div>
        <div class = "board-card-body">
            <p class = "board-title">{{board.title}}</p>
            <p class = "board-subtitle">{{board.description}}</p>
            <div class = "text-center mt-1">
                <button class = "board-open-button">Open</button>
                <button class = "board-leave-button">Leave</button>
            </div>
        </div>
        <div class = "board-card-footer">
            <div class = "d-flex">
                <app-user-holder [userRef]="boardRef?.publisher"></app-user-holder>
            </div>
        </div>
    </div>
</button>