<div class = "container p-4">
    <div>
        <h3 id = "welcome-title">Welcome Back</h3>
        <fa-icon class = "d-inline-block welcome-icon" [icon]="welcomeBackIcon"></fa-icon>
    </div>
    <p id = "welcome-subtitle">Welcome back, here you can view your invites, boards and the tasks that have been assigned to you</p>
    <div class = "row">
        <div class = "col-12 col-md-2">
            <ul class = "option-list mt-2">
                <li [id]="current.name" *ngFor="let current of optionsTemplate;let i = index">
                    <ng-container *ngTemplateOutlet="optionTemplate;context: {item: current,index: i}"></ng-container>
                </li>
            </ul>
        </div>
        <div class = "col-12 col-md-10 mt-2">
            <div  *ngIf="currentTemplate != undefined">
                <app-loader [diameter]="60" [strokeWidth]="7" [requiredTemplate]="currentTemplate" [isSearching]="isSearching"></app-loader>
            </div>
            <app-pagination [pageSize]="20" [totalElements]="currentTotalElements" *ngIf="currentTotalElements == 0"></app-pagination>
        </div>
    </div>
</div>
<ng-template #boardTemplate>
    <ng-container *ngTemplateOutlet="descriptionItem;context: {item: this.descriptionItems[0]}"></ng-container>
    <div class = "container">
        <div *ngIf="currentBoards.length > 0">
            <div class = "row">
                <div class = "col-12 col-md-3 mt-2" *ngFor="let current of currentBoards">
                    <app-board-card [boardRef]="current.board"></app-board-card>
                </div>
            </div>
        </div>
        <div *ngIf="currentBoards.length == 0">
            <app-no-items (buttonClicked)="resetPage()"></app-no-items>
        </div>
    </div>
</ng-template>
<ng-template #tasksTemplate>
    <ng-container *ngTemplateOutlet="descriptionItem;context: {item: this.descriptionItems[1]}"></ng-container>
    <div class = "container">
        <div *ngIf="currentTasks.length > 0">
            <div class = "row">
                <div class = "col-12 col-md-3 mt-2" *ngFor="let current of currentTasks">
                    <app-task-card [taskRef]="current.task"></app-task-card>
                </div>
                <div class = "text-center mt-4">
                    <app-pagination (pageChanged)="handlePageChange($event)"  [defaultPage]="0" [pageSize]="20" [totalElements]="this.currentTotalElements"></app-pagination>
                </div>
            </div>
        </div>
        <div *ngIf="currentTasks.length == 0">
            <app-no-items (buttonClicked)="resetPage()"></app-no-items>
        </div>
    </div>
</ng-template>
<ng-template #discussionTemplate>
    <ng-container *ngTemplateOutlet="descriptionItem;context: {item: this.descriptionItems[2]}"></ng-container>
    <div class = "container">
        <div *ngIf="currentDiscussions.length > 0">
            <div class = "row">
                <div class = "col-12 col-md-3 mt-2" *ngFor="let current of currentDiscussions">
                    <app-discussion-card [discussion]="current"></app-discussion-card>
                </div>
                <div class = "text-center mt-4">
                    <app-pagination (pageChanged)="handlePageChange($event)"  [defaultPage]="0" [pageSize]="20" [totalElements]="this.currentTotalElements"></app-pagination>
                </div>
            </div>
        </div>
        <div *ngIf="currentDiscussions.length == 0">
            <app-no-items (buttonClicked)="resetPage()"></app-no-items>
        </div>
    </div>
</ng-template>
<ng-template #boardInvitesTemplate>
    <ng-container *ngTemplateOutlet="descriptionItem;context: {item: this.descriptionItems[3]}"></ng-container>
    <div class = "container">
        <div *ngIf="currentBoardInvites.length > 0">
            <div class = "row">
                <div class = "col-12 col-md-3 mt-2" *ngFor="let current of currentBoardInvites">
                    <app-board-invite-card [boardInvite]="current"></app-board-invite-card>
                </div>
                <div class = "text-center mt-4">
                    <app-pagination (pageChanged)="handlePageChange($event)"  [defaultPage]="0" [pageSize]="20" [totalElements]="this.currentTotalElements"></app-pagination>
                </div>
            </div>
        </div>
        <div *ngIf="currentBoardInvites.length == 0">
            <app-no-items (buttonClicked)="resetPage()"></app-no-items>
        </div>
    </div>
</ng-template>
<ng-template #pollTemplate>
    <ng-container *ngTemplateOutlet="descriptionItem;context: {item: this.descriptionItems[4]}"></ng-container>
    <div class = "container">
        <div *ngIf="currentPolls.length > 0">
            <div class = "row">
                <div class = "col-12 col-md-3 mt-2" *ngFor="let current of currentPolls">
                    <app-poll-card [poll]="current"></app-poll-card>
                </div>
                <div class = "text-center mt-4">
                    <app-pagination (pageChanged)="handlePageChange($event)"  [defaultPage]="0" [pageSize]="20" [totalElements]="this.currentTotalElements"></app-pagination>
                </div>
            </div>
        </div>
        <div *ngIf="currentPolls.length == 0">
            <app-no-items></app-no-items>
        </div>
    </div>
</ng-template>
<ng-template #optionTemplate let-item="item" let-index="index">
    <button  style="margin-top: 5px;" [ngClass]="currentSelectedIndex == index ? 'option-holder-selected' : 'option-holder'" (click)="updateTemplate($event,item.requiredTemplate,item.path)">
        <fa-icon class = "option-icon" [icon]="item.icon"></fa-icon>
        <p class = "option-name">{{item.name}}</p>
    </button>
</ng-template>
<ng-template #descriptionItem let-item="item">
    <div class = "p-2">
        <h4 class = "description-item-name">{{item.name}}</h4>
        <fa-icon class = "description-item-icon" [icon]="item.icon"></fa-icon>
        <p class = "description-item-subtitle">{{item.subtitle}}</p>
    </div>
</ng-template>
