<div class = "container p-4">
    <div>
        <h3 id = "welcome-title">Welcome Back</h3>
        <fa-icon class = "d-inline-block welcome-icon" [icon]="welcomeBackIcon"></fa-icon>
    </div>
    <p id = "welcome-subtitle">Welcome back, here you can view your invites, boards and the tasks that have been assigned to you</p>
    <div class = "row">
        <div class = "col-12 col-md-2">
            <ul class = "option-list mt-2">
                <li [id]="current.name" *ngFor="let current of optionsTemplate">
                    <ng-container *ngTemplateOutlet="optionTemplate;context: {item: current}"></ng-container>
                </li>
            </ul>
        </div>
        <div class = "col-12 col-md-10 mt-2">
            <div *ngIf="currentTemplate != undefined">
                <ng-container *ngTemplateOutlet="currentTemplate"></ng-container>
            </div>
            <div class = "row">
                <div class = "col-3 mt-1">
                    <app-report-card></app-report-card>
                </div>
                <div class = "col-3 mt-1">
                    <app-ban-card></app-ban-card>
                </div>
                <div class = "col-3 mt-1">
                    <app-task-card></app-task-card>
                </div>
                <div class = "col-3 mt-1">
                    <app-task-card></app-task-card>
                </div>
                <div class = "col-3 mt-1">
                    <app-task-card></app-task-card>
                </div>
                <div class = "col-3 mt-1">
                    <app-task-card></app-task-card>
                </div>
                <div class = "col-3 mt-1">
                    <app-task-card></app-task-card>
                </div>
                <div class = "col-3 mt-1">
                    <app-task-card></app-task-card>
                </div>
                <div class = "col-3 mt-1">
                    <app-task-card></app-task-card>
                </div>
                <div class = "col-3 mt-1">
                    <app-task-card></app-task-card>
                </div>
                <div class = "col-3 mt-1">
                    <app-task-card></app-task-card>
                </div>
            </div>

            <app-pagination [pageSize]="20" [totalElements]="currentTotalElements" *ngIf="currentTotalElements == 0"></app-pagination>
        </div>
    </div>
</div>
<ng-template #boardTemplate>
    <ng-container *ngTemplateOutlet="descriptionItem;context: {item: this.descriptionItems[0]}"></ng-container>
</ng-template>
<ng-template #tasksTemplate>
    <ng-container *ngTemplateOutlet="descriptionItem;context: {item: this.descriptionItems[1]}"></ng-container>
</ng-template>
<ng-template #discussionTemplate>
    <ng-container *ngTemplateOutlet="descriptionItem;context: {item: this.descriptionItems[2]}"></ng-container>
</ng-template>
<ng-template #boardInvitesTemplate>
    <ng-container *ngTemplateOutlet="descriptionItem;context: {item: this.descriptionItems[3]}"></ng-container>
</ng-template>
<ng-template #pollTemplate>
    <ng-container *ngTemplateOutlet="descriptionItem;context: {item: this.descriptionItems[4]}"></ng-container>
</ng-template>
<ng-template #optionTemplate let-item="item">
    <button  style="margin-top: 5px;" class = "option-holder" (click)="updateTemplate($event,item.requiredTemplate,item.path)">
        <fa-icon class = "option-icon" [icon]="item.icon"></fa-icon>
        <p class = "option-name">{{item.name}}</p>
    </button>
</ng-template>
<ng-template #descriptionItem let-item="item">
    <div class = "p-2">
        <h4 class = "description-item-name">{{item.name}}</h4>
        <fa-icon class = "description-item-icon" [icon]="item.icon"></fa-icon>
        <p class = "description-item-subtitle">{{item.subtitle}}</p>
    </div>
</ng-template>
