<div class = "search-bar-holder">
    <p class = "search-bar-label">{{currentLabel}}</p>
    <div class = "d-flex">
        <input  [defaultValue]="defaultValue != undefined ? defaultValue : ''"   (input)="handleValueChange($event)" [placeholder]="currentPlaceholder" class = "search-bar-input" type="search">
        <div class = "p-2 search-icon">
             <fa-icon [icon]="searchIcon"></fa-icon>
        </div>
    </div>
    <p class = "search-bar-supporting-text">{{currentSupportingText}}</p>
</div>