:root
{
    --primary-color: #2d2d30;
    --secondary-color: #252526;
    --tertiary-color: #007acc
}
body
{
    background-color: #1e1e1e;
}
*
{
    margin: 0px;
    padding: 0px;
    border: 0;
    color: whitesmoke;
}
.primary-color {
    background-color: var(--primary-color);
}
.secondary-color {
    background-color: var(--secondary-color);
}
.tertiary-color {
    background-color: var(--tertiary-color);
}
.pointer
{
    cursor: pointer;
}
.font-weight-bold
{
    font-weight: bold;
}
.default-button
{
    background-color: var(--primary-color);
    padding: 15px 20px;
    color: whitesmoke;
    font-size: 15px;
    border-radius: 5px;
    transition: 0.2s ease-in-out all;
}
.default-button:hover
{
    background-color: var(--tertiary-color);
}
.default-button:disabled
{
    cursor: not-allowed;
    opacity: 0.5;
}
.cdk-overlay-container, .cdk-overlay-pane {
    z-index: 9999 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.hint-text
{
    font-size: 14px;
    font-weight: thin;
}
.form-field
{
    display: block;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}
.input-label
{
    color: black;
}

button.remove-button
{
    border: 0;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--primary-color);
}
section#info-section {
    padding: 10px 5px;
}
button.filter-button
{
    width: 75%;
    background-color: var(--secondary-color);
    color: whitesmoke;
    border-radius: 5px;
    border: 0px;
    margin: 0px;
    font-size: 20px;
    padding: 10px 0px;
    transition: 0.2s ease-in-out all;
}
button.filter-button:hover
{
    background-color: var(--tertiary-color);
}