<div class = "container py-4">
    <div>
        <div class = "d-flex" style="font-size: 30px;">
            <p>Polls</p>
            <fa-icon class = "mx-2" [icon]="pollIcon"></fa-icon>
        </div>
        <p>View all the polls you have published</p>
    </div>
    <div class = "py-2 text-center">
        <app-loader [strokeWidth]="10" [diameter]="100" [fontSize]="20"  [loaderSubtitle]="'Searching discussions...'" [requiredTemplate]="pollsTemplate" [isSearching]="isSearching"></app-loader>
        <div *ngIf="currentPolls.length == 0 && !isSearching">
            <app-no-items></app-no-items>
        </div>
        <div *ngIf="currentPage.totalElements > 0 && !isSearching">
            <app-pagination [totalElements]="currentPage.totalElements" [pageSize]="currentPage.size" (pageChanged)="this.handlePageChange($event)"></app-pagination>
        </div>
    </div>
</div>
<ng-template #pollsTemplate>
    <div *ngIf="currentPolls.length > 0">
        <div class = "row">
            <div class = "col-12 col-md-3 mt-2" *ngFor="let current of currentPolls">
                <app-poll-card (deletedEvent)="removePoll(current)" [poll]="current"></app-poll-card>
            </div>
        </div>
    </div>
</ng-template>