div#header-holder
{
    position: sticky;
    top: 0;
    width: 100%;
}
ul.header-list
{
    margin: 0px;
    list-style-type: none;
    padding: 2px 20px;
    background: var(--primary-color);
}
a.header-item
{
    display: inline-block;
    font-size: 20px;
    padding: 8px;
    transition: 0.3s ease-in-out all;
    cursor: pointer;
    color: whitesmoke;
    text-decoration: none;
}
a.header-item:hover
{
    background-color: var(--tertiary-color);
    color: whitesmoke;
    text-decoration: underline;
}
button.header-show-button
{
    background-color: var(--primary-color);
    color: whitesmoke;
    border: 0px;
    font-size: 20px;
    padding: 5px 10px;
    transition: 0.2s ease-in-out all;
}
button.header-show-button:hover
{
    background-color: var(--tertiary-color);
    border-radius: 60%;
    color: whitesmoke;
}
